:root{
    --dark-grey: #383838;
    --helvetica: Helvetica, Arial, sans-serif;
    --round-corners: 5px;
    --border: 1.25px, solid, #383838;
}

*{
    box-sizing: border-box;
  color: var(--dark-grey);
    font-family: Helvetica, Arial sans-serif 
}

hr{
    border: var(--border);
}

.card{
border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 11px #a1a1a1,
        -5px -5px 11px #ffffff;


    /* border: var(--border); */
    /* border-radius: var(--round-corners); */
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 3rem auto 1fr auto;
    margin-bottom: 1.5rem;
    box-shadow: inset;
}

.event-content{
    grid-column: 1;
    grid-row: 1 / 4}

.delete-button{
    border: none;
    background-color: white;
    align-self: center;
    justify-self: end;
    height: 2rem;
    width: 2rem;
    grid-row: 3;
    grid-column: 2;
    padding: .4rem;
    }

        .edit-button {
            border: none;
            background-color: white;
            align-self: center;
            justify-self: end;
            height: 2rem;
            width: 2rem;
            grid-row: 1;
            grid-column: 2;
            padding: .4rem;
        }

.delete-icon, .edit-icon {
    align-content: center;
    font-size: 1rem;
}

.delete-button:hover, .edit-button:hover{
    scale: 1.2;
}

.text-field{
    border: none;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #b3b3b3,
    inset -5px -5px 10px #ffffff;

    /* border: var(--border); */
    /* color: var(--dark-grey); */
    font-family: var(--futura);
    /* border-radius: var(--round-corners); */
    padding: .5rem;
}

.save-button{
    padding: .5rem;
    background-color: white;
    border: none;
    
    border-radius: 5px;
        background: #ffffff;
        box-shadow: 5px 5px 11px #a1a1a1,
            -5px -5px 11px #ffffff;

}

.save-button:hover{
    background-color: var(--dark-grey);
    
    color: white;
}

#edit-pane{
    grid-row: 4;
    grid-column: 1/ 3;
    display: none;
    height:150px;
    width: 100%;
    background-color: yellow;
    z-index: 100;
}